@import url('https://fonts.googleapis.com/css?family=Lato:300,700,900');
@import url('https://fonts.googleapis.com/css?family=Crete+Round:400i&display=swap');


@media only screen and (max-width: 960px) {
  .xs-column-reverse {
    display: flex;
    flex-direction: column-reverse;
  }
}

*{
    cursor: none;
    border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.link{
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  color: #bdc3c7;
  border-bottom: 1px solid #bdc3c7;
}

.link:hover{
    color: #4776ee;
    border-bottom: 1px solid #4776ee;
    text-decoration: none;
}

body{
    background: #FFFFFF;
}

html{
  scroll-behavior: smooth;
  overflow-x: hidden;
}

html .load-hidden {
  visibility: hidden;
}

hr{
    border: 0;
  clear:both;
  display:block;
  width: 30%;               
  background-color:#bdc3c7;
  height: 1px;
}

.back-button{
    padding-top: 4%;
    padding-left: 10%;
    font-weight: 700;
}

.back-button:hover{
  padding-top: 4%;
  padding-left: 10%;
  font-weight: 700;
  text-decoration: none;
  color: #333333;
}

.back-button-center{
  padding-top: 4%;
  font-weight: 700;
  text-align: center;
}

.back-button-right{
  padding-top: 4%;
  font-weight: 700;
  text-align: right;
}

.smokegrey{
  color: #333333;
}

.credit{
  color: #bdc3c7;
  font-size: 14px;
  font-weight: 300;
}

.panel {
	position: relative;
	height: 100vh;
	overflow: hidden;
	font-size: 10vmin;
	padding: 1em;
	box-sizing: border-box;
	color: hsla(0, 0%, 100%, .1);
	cursor: default;
}

.social{
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 5%;
  margin-bottom: 16px;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  font-weight: 300;
}

.social-facebook{
    display: inline-block;
    color: #bdc3c7;
    margin-bottom: 8px;
    border-bottom: 1px solid #bdc3c7;
}

.social-facebook:hover{
  color: #4776ee;
  border-bottom: 1px solid #4776ee;
}

.social-instagram{
    display: inline-block;
    color: #bdc3c7;
    border-bottom: 1px solid #bdc3c7;
}

.social-instagram:hover{
  background: linear-gradient(90deg,#C13584, #FFDC80);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border-bottom: 1px solid #C13584;
}

.resume-black-link{
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  color: #333333;
  text-align: left;
  font-weight: 300;
  bottom: 50;
}

.resume-black-link:hover{
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  color: #4CA1AF;
  text-align: left;
  font-weight: 300;
  bottom: 50;
  text-decoration: none;
}

.resume1{
  min-height: 100vh;
  background-color: #FFFFFF;
}

.resume2{
  min-height: 40vh;
  background-color: #FFFFFF;
}

.resume3{
  min-height: 70vh;
  background-color: #FFFFFF;
}

.resume4{
  min-height: 100vh;
  background-color: #ececec;
}

.resume5{
  min-height: 40vh;
  background-color: #FFFFFF;
}

.resume-image{
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  padding-top: 15%;
  padding-left: 5%;
}

.resume-text-right{
  padding-top: 15%;
}

.resume-header{
  padding-bottom: 10%;
}

.resume-edu{
  padding-top: 3%;
}

.resume-exp{
  padding-bottom: 5%;
}

.resume-exp2{
  padding-top: 5%;
}

.resume-exp3{
  padding-top: 36px;
}

.resume-desc{
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  color: #333333;
  position: relative;
  font-weight: 500;
  line-height: 14pt;
}

.resume-label{
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  color: #333333;
  font-weight: 500;
  line-height: 14pt;
  padding-top: 5%;
}

.resume-role{
  line-height: 12pt;
}

.resume-subrole{
  line-height: 12pt;
  font-weight: 500;
}

.resume-skillbox{
  padding-top: 5%;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.resume-title{
    font-family: 'Lato', sans-serif;
    font-size: 48px;
    text-transform: uppercase;
    color: #333333;
    text-align: left;
    font-weight: 700;
    padding-top: 5%;
}

.resume-year{
  color: #1ba39c;
  line-height: 12pt;
}

.resume-footer-header{
  color: #333333;
  padding-top: 5%;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
}

.resume-footer-top{
  color: #333333;
  padding-top: 20px;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
}

.filter-white{
  filter: invert(18%) sepia(18%) saturate(13%) hue-rotate(328deg) brightness(90%) contrast(89%);
}

.left-rectangle{
  width: 24px;
  height: 8px;
  background-color: #1ba39c;
  margin-right: 16px;
  border-radius: 4px;
}

.center-rectangle{
  width: 24px;
  height: 8px;
  background-color: #a5b2b5;
  margin-right: 16px;
  border-radius: 4px;
  margin:0 auto;
}

.content{
  font-family: 'Lato', sans-serif;
  font-size: 50px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: #ececec;
  font-weight: 700;
}

.works-title{
  font-family: 'Lato', sans-serif;
  font-size: 48px;
  text-transform: uppercase;
  color: #333333;
  text-align: left;
  font-weight: 700;
  padding-top: 5%;
  left: -2%;
}

.workdetail-title{
  text-align: center;
  font-size: 28px;
}

.workdetail-hr{
  width: 100%;
  height: 4px;
  background-color: #EEEEEE;
  border-radius: 4px;
  margin-top: 4%;
}

.menu{
    font-family: 'Lato', sans-serif;
    font-size: 50px;
    display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
  background: #ececec;
  font-weight: 700;
}
@media screen and (min-width: 1281px) {
  .cursor {
    position: absolute;
    background-color: #446cb3;
    width: 7px;
    height: 7px;
    border-radius: 100%;
    z-index: 1;
    transition: 0.3s cubic-bezier(0.75, -1.27, 0.3, 2.33) transform, 0.2s cubic-bezier(0.75, -0.27, 0.3, 1.33) opacity;
    user-select: none;
    pointer-events: none;
    z-index: 10000;
    transform: scale(1);
  }
  .cursor.active {
    opacity: 0.5;
    transform: scale(0);
  }
  .cursor.hovered {
    opacity: 0.08;
  }

  .center-text{
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
  }
  .follow {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.1);
    width: 20px;
    height: 20px;
    border-radius: 100%;
    z-index: 1;
    transition: 0.6s cubic-bezier(0.75, -1.27, 0.3, 2.33) transform, 0.2s cubic-bezier(0.75, -0.27, 0.3, 1.33) opacity;
    user-select: none;
    pointer-events: none;
    z-index: 10000;
    transform: translate(5px, 5px);
  }
  .follow.active {
    opacity: 0.7;
    transform: scale(3);
  }
  .follow.hovered {
    opacity: 0.08;
  }
}
a.gradient{
    background: linear-gradient(-60deg,#4CA1AF,#2C3E50);
    background-size: 300%;
    animation: flow 10s ease-in-out infinite;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    position: relative;
}

.gradient{
  background: linear-gradient(-60deg,#4CA1AF,#2C3E50);
  background-size: 300%;
  animation: flow 10s ease-in-out infinite;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  position: relative;
}

div.gradient{
  background: linear-gradient(-60deg,#4CA1AF,#2C3E50);
  background-size: 300%;
  animation: flow 10s ease-in-out infinite;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  position: relative;
}

.sitelink{
  position: relative;
  text-decoration: underline;
  text-align: left;
  display: block;
  font-weight: 700;
}

.column {
  float: left;
  width: 50%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

h1{
  font-family: 'Crete Round', serif;
    font-size: 30px;
    color: #3a539b;
    position: relative;
    letter-spacing: 2px;
    font-weight: 300;
}

h2{
  font-family: 'Lato', sans-serif;
  font-size: 30px;
  text-transform: uppercase;
  color: #333333;
  position: relative;
  text-align: left;
  letter-spacing: 10px;
  font-weight: 300;
}

h3{
  font-family: 'Lato', sans-serif;
  font-size: 24px;
  color: #333333;
  position: relative;
  font-weight: 700;
}

h4{
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  color: #333333;
  position: relative;
  font-weight: 500;
}

h5{
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  color: #333333;
  position: relative;
  font-weight: 700;
}

@keyframes flow{
    0%{
        background-position: 0 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0 50%;
    }
}

:root{
    --background-dark: #2d3548;
    --text-light: rgba(255,255,255,0.6);
    --text-lighter: rgba(255,255,255,0.9);
    --spacing-s: 8px;
    --spacing-m: 16px;
    --spacing-l: 24px;
    --spacing-xl: 32px;
    --spacing-xxl: 4px;
    --width-container: 1200px;
  }

.hero-section{
    align-items: flex-start;
    display: flex;
    /* min-height: 100%; */
    justify-content: center;
    padding: var(--spacing-xxl) var(--spacing-l);
  }
  
  .card-grid{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-column-gap: var(--spacing-l);
    grid-row-gap: var(--spacing-l);
    max-width: var(--width-container);
    width: 100%;
  }
  
  @media(min-width: 540px){
    .card-grid{
      grid-template-columns: repeat(2, 1fr); 
    }
  }
  
  @media(min-width: 960px){
    .card-grid{
      grid-template-columns: repeat(4, 1fr); 
    }
  }
  
  .card{
    list-style: none;
    position: relative;
    background: none;
    border: none;
  }
  
  .card:before{
    content: '';
    display: block;
    padding-bottom: 150%;
    width: 100%;
  }
  
  .card__background{
    background-size: cover;
    background-position: center;
    border-radius: var(--spacing-l);
    bottom: 0;
    filter: brightness(0.75) saturate(1.2) contrast(0.85);
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transform-origin: center;
    transform: scale(1) translateZ(0);
    transition: 
      filter 200ms linear,
      transform 200ms linear;
  }
  
  .card:hover .card__background{
    transform: scale(1.05) translateZ(0);
  }
  
  .card-grid:hover > .card:not(:hover) .card__background{
    filter: brightness(0.5) saturate(0) contrast(1.2) blur(20px);
  }
  
  .card__content{
    left: 0;
    padding: var(--spacing-l);
    position: absolute;
    top: 0;
  }
  
  .card__category{
    color: var(--text-light);
    font-size: 0.9rem;
    margin-bottom: var(--spacing-s);
    text-transform: uppercase;
  }
  
  .card__heading{
    color: var(--text-lighter);
    font-size: 1.9rem;
    text-shadow: 2px 2px 20px rgba(0,0,0,0.2);
    line-height: 1.4;
    word-spacing: 100vw;
  }
#works{
  overflow: auto;
  overflow-x: hidden;
}

/* Work Details Page */
.content article{
    padding: 100px 0;
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}
img{
  max-width: 100%
}

.article-image{
  margin-bottom: 2%;
}


#HomeTemplates .box{
  position: relative;
  height: 600px;
  background-image: url("../img/template4.png");
  background-size: cover;
  background-position: top center;
    background-attachment: fixed;
    background-repeat: no-repeat;
  overflow: hidden;
}
#SansiriHuahin .box{
  position: relative;
  height: 600px;
  background-image: url("../img/sansiri-huahin.png");
  background-size: cover;
  background-position: top center;
    background-attachment: fixed;
    background-repeat: no-repeat;
  overflow: hidden;
}

#SansiriHuahin .foreground{
  width: 300px;
  height: 300px;
  background-color: transparentize(pink,0.3);
  background-image: url('../img/sansiri-joy.svg');
  background-repeat: no-repeat;
  background-position: right bottom;
  position: absolute;
  left: 50%;
  margin-left: 200px;
  top: 50%;
}

.logo{
  height: 100px;
  width: 100%;
  font-weight: 700;
  font-size: 3em;
  text-align: center;
    background-repeat: no-repeat;
  position: absolute;
  top: 50%;
  margin-top: -50px;
}
/* .foreground{
  width: 960px;
  height: 733px;
  background-color: transparentize(pink,0.3);
  background-image: url(https://raw.githubusercontent.com/DevTips/Parallax-on-the-Web-DevTips-/master/images/fore-bird.png);
  background-repeat: no-repeat;
  background-position: right bottom;
  position: absolute;
  left: 50%;
  margin-left: -480px;
  top: 380px;
} */
/* .background{
  width: 960px;
  height: 298px;
  background-image: url(https://raw.githubusercontent.com/DevTips/Parallax-on-the-Web-DevTips-/master/images/back-bird.png);
  background-repeat: no-repeat;
  background-position: top left;
  position: absolute;
  left: 50%;
  margin-left: -480px;
} */

/* Text Wrapper */
.ml11 {
  font-weight: 700;
  font-size: 1em;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.ml11 .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.1em;
  padding-right: 0.05em;
  padding-bottom: 0.15em;
}

.ml11 .line {
  opacity: 0;
  position: absolute;
  left: 0;
  height: 100%;
  width: 3px;
  background-color: #333;
  transform-origin: 0 50%;
}

.ml11 .line1 { 
  top: 0; 
  left: 0;
}

.ml11 .letter {
  display: inline-block;
  line-height: 1em;
}

/* Mouse Scrolling */
#intro a {
  padding-bottom: 30px;
}
#intro a span {
  position: absolute;
  bottom: 60px;
  left: 50%;
  width: 30px;
  height: 50px;
  margin-left: -15px;
  border: 2px solid #333;
  border-radius: 50px;
  box-sizing: border-box;
}
#intro a span::before {
  position: absolute;
  top: 5px;
  left: 50%;
  content: '';
  width: 6px;
  height: 6px;
  margin-left: -3px;
  background-color: #333;
  border-radius: 100%;
  -webkit-animation: sdb10 2s infinite;
  animation: sdb10 2s infinite;
  box-sizing: border-box;
}
@-webkit-keyframes sdb10 {
  0% {
    -webkit-transform: translate(0, 0);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    -webkit-transform: translate(0, 20px);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes sdb10 {
  0% {
    transform: translate(0, 0);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    transform: translate(0, 20px);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}